  .container {
    }
    .entries {
         margin-bottom: 10px;
    }
    .title {
         font-weight: bold;
         font-size: 120%;
    }
    .date {
         font-style: italic;
         font-size: 80%;
    }
    .text {
    }
